In [6]:
import pandas as pd
import numpy as np
data_mca = pd.read_csv('marketing_customer_analysis.csv')

# Show the dataframe shape
data.shape

(10910, 26)

In [34]:
# Change every header into lower case
lowercase = []
for column in data_mca.columns:
    lowercase.append(column.lower())
lowercase
data_mca.columns = lowercase

data_mca.columns

# Put a space in employmentstatus

data_mca = data_mca.rename(columns={'employmentstatus':'employment status'})

data_mca.columns

# Underscore every space 

data_mca.columns = data_mca.columns.str.replace(" ", "_")
data_mca

# Drop unnamed:_0

data_mca = data_mca.drop(['unnamed:_0'], axis =1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [37]:
# Numerical columns

data.select_dtypes(np.number) # will show us how many columns are numerical 

# Categorical columns

data.select_dtypes(object) # will show us how many columns are categorical

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [100]:
# Check for duplicates & drop them

#sum(data_mca.duplicated())

data_mca = data_mca.drop_duplicates()

# Check for null value

#data_mca.isna().sum()

# Let´s check the percentage of the null on the total to decide wheter to delate or not

#round(data_mca.isna().sum()/len(data_mca),3)*100

# strategy: drop rows that have null values and are object columns "response" and "state"
data_mca = data_mca[data_mca['state'].isna()==False]
data_mca = data_mca[data_mca['response'].isna()==False]

# strategy: include mean value in rows which are numerical columns "months_since_last_claim" and "number_of_open_complaints"

mean_months_since_last_claim = data_mca['months_since_last_claim'].mean()
mean_months_since_last_claim
data_mca['months_since_last_claim'] = data_mca['months_since_last_claim'].fillna(mean_months_since_last_claim)


mean_number_of_open_complaints = data_mca['number_of_open_complaints'].mean()
mean_number_of_open_complaints
data_mca['number_of_open_complaints'] = data_mca['number_of_open_complaints'].fillna(mean_number_of_open_complaints)

# strategy: for vehicle_class, size and type we are going to fill the null with the most frequent value (mode) 

data_mca['vehicle_class'].unique() # This shows all the values of vehicle_size in an array
data_mca['vehicle_class'].value_counts(dropna=False) # Count of the values including the NaN. The most commom is Four-Door Car
data_mca['vehicle_class'] = data_mca['vehicle_class'].fillna('Four-Door Car')

data_mca['vehicle_size'].unique() # This shows all the values of vehicle_size in an array
data_mca['vehicle_size'].value_counts(dropna=False) # Count of the values including the NaN. The most commom is Medsize
data_mca['vehicle_size'] = data_mca['vehicle_size'].fillna('Medsize')

data_mca['vehicle_type'].unique() # This shows all the values of vehicle_type in an array
data_mca['vehicle_type'].value_counts(dropna=False) # Count of the values including the NaN. 
data_mca['vehicle_type'] = data_mca['vehicle_type'].fillna('A')

# Let´s check if we have dealt with all NaN

data_mca.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

In [111]:
# data_mca['date_time'] = pd.to_datetime(data_mca['effective_to_date'], errors='coerce') # to_datetime checks the specified column and look for anything that seems like a date
# data_mca'date_time.month

data_mca['month'] = pd.DatetimeIndex(data_mca['effective_to_date']).month
data_mca['month']

0        2
1        1
2        2
3        1
4        1
        ..
10904    2
10905    1
10906    1
10907    2
10908    2
Name: month, Length: 10049, dtype: int64

# Customer analysis round 3